 *{
    margin: 0;
    padding: 0;
}

body{
    background: url(Imagens/fundoselecao.jpg);
    margin: 0 auto;
}
.botao{
    text-align: center;
    margin-top: 40px;
    
}
.botaos{
    margin-top: 35px;
}
#conteudo{
    color: aliceblue;
    font-size: large;
    margin-top: 30px;
    text-align: center;
} 
.botao1{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: space-evenly;
    align-items: stretch;
}

img:hover{
    transform:  scale(0.9);
}

.botao2{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: space-evenly;
    align-items: stretch;
}





/* Cabeçalho*/

header{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #23335c;
    padding: 12px;
}
h1{
    color: aliceblue;
    font-size: 1.7em;
    margin: 10px;
}
a{
    margin: 2px;
    color: #ffffff;
    text-align: center;
    padding: 2px 7px;
    margin: 2px;
    border-radius: 20px;
  }
  
  a:hover{
    background-color: #2b63ff;
    color:#0f172b;
    text-decoration: none;
  }
  
  .destaque {
    background-color: #00ff40;
    color:  #0f172b;
    text-decoration: none;
    font-size: 18px;
  }

nav{margin: 10px;}




/* MAIN*/

main{
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

 img {
    max-width: 100%;
    height: auto;
} 

h2 {
    text-align: center;
    font-size: 18px;
}

label {
    font-weight: bold;
}

input,
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px; 
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

input[type="submit"], button{
    background-color: aliceblue;
    color: #000000;
    padding: 8px 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
  }

input[type="submit"]:hover,
button:hover  


table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 100%;
  }

td, th {
    border: 1px solid #afcef1;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #afcef1;
  }


/* Footer*/
footer{
    background-color: #03002c;
    color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    min-height: 26vh;
    margin-top: auto;
    
}

footer div{
    margin-top: 10px;
}

#links-rodape {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}